<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Daniel's assignemnts</title>
    </head>
    <h1> Homework 1</h1>
    <body>
    <p> In homework one we learned about binary numbers and the basic coding styles for python. For the implementation part, however, we jumped straight into list slicing and just an overall assignment designed to familiarize us with lists.</p>
    </body>
    <h1> Homework 2</h1>
    <body>
	    <p>Homework 2 was the most theoretical by implementing iterations, sequential search (Binary and Sort) as well as time complexities. For the implementation part, we started creating functions that received and passed arguments created and modified by us in some cases. We also plotted the results!
	    </p>
    </body>
    <h1> Homework 3</h1>
    <body>
	    <p>La tarea numero tres nos ayudo a entender el proposito de pseudocode para implementar funciones en sets. Tambien nos ayudo a entender percolations mediante el uso de una funcion que se llama a si misma y empezamos nuestro Machine Learning project
	    </p>
    </body>
    <h1> Homework 4</h1>
    <body>
	    <p> The fourth homework got us acquainted with the use of classes to understand better Object Based Programming and python's real nature
	    </p>
    </body>
    <h1> Homework 5</h1>
    <body>
	    <p> In homework 5 we integrated the use of pandas, seaborn, knn and sklearn into reading a csv full of information to train a model for data analysis and Machine learning. This homework included most of the latter part of the course and was pretty interesting due to the use of embedded innate functions to do most of the work and build on top of that, truly what a computer scientist does in a regular basis, I think.
	    </p>
    </body>
    <h1> My favorite assignment so far</h1>
    <body>
	    <p> Percolation in homework 3 was by far by most extenuating exercise of coding throughout the class. One small detail took me to debug case by case and taught me the patience and debug skills required to succeed.
	    </p>
    </body>
</html>

