<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Daniel's assignemnts</title>
    </head>
    <h1> Homework 1</h1>
    <body>
    <p>My name is Daniel Garcia and I have been wanting to create a website for a while since I think it's as (or more) useful as a resume; this is merely the beginning :D'</p>
    <p>This is me on a nice, sunny, quarantine-free, coronavirus-ridden NYC afternoon</p>
    </body>
    <h1> Homework 2</h1>
    <body>
	    <p>
	    </p>
    </body>
    <h1> Homework 3</h1>
    <body>
	    <p>La tarea numero tres nos ayudo a entender el proposito de pyplot y graficar 
	    </p>
    </body>
    <h1> Homework 4</h1>
    <body>
	    <p> The fourth homework got us acquainted with the use of classes 
	    </p>
    </body>
    <h1> Homework 5</h1>
    <body>
	    <p> In homework 5 we integrated the use of pandas, seaborn, knn and sklearn into reading a csv full of information to train a model for data analysis and Machine learning. This homework included most of the latter part of the course and was pretty interesting due to the use of embedded innate functions to do most of the work and build on top of that, truly what a computer scientist does in a regular basis, I think.
	    </p>
    </body>
</html>

