<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Daniel's Classes</title>
    </head>
    <h1> Fall 2020</h1>
    <body>
    <p>
    </p>
    </body>
    <h1> Spring 2020</h1>
    <body>
	    <p>
	    </p>
    </body>
    <h1> Fall 2020 (hopefully)</h1>
    <body>
	    <p>La tarea numero tres nos ayudo a entender el proposito de pyplot
	    </p>
    </body>
    <h1> Disclaimer</h1>
    <body>
	    <p> I only listed the classes that gave me Columbia credit (looking directly at you registrar's office). Even though more should be listed, Columbia's policies be like that, am I right?
	    </p>
    </body>
</html>
