<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Daniel's Classes</title>
    </head>
    <h1> Fall 2020</h1>
    <body>
    <p>	- Intensive Inorganic Chemistry
	- Kinetics and Thermodynamics (Physics 1 with a fancy name)
	- Introduction to Linguistics (McWorther would make an interesting argument about linguistics in html or something)
	- Calculus II (a.k.a hell reincarnated in the form of a syllabus and a couple equations)
	- Art of Engineering (just because the Core deems it necessary)
    </p>
    </body>
    <h1> Spring 2020</h1>
    <body>
	    <p> - Introduction to Computing for Engineers and Applied Scientist (a.k.a Intro to Python with a fancy name)
		- Electricity and Magnetism (Physics 2)
		- Introduction to Electrical Engineering (just to see Vallancourt a little bit more during the week)
		- University Writing (Class which PrezBo should definitely take)
		- Inorganic Chemistry LaB (Sarah Hansen is the absolute GOAT)
	    </p>
    </body>
    <h1> Fall 2020 (hopefully)</h1>
    <body>
	    <p> - Multivariable Calculus (I forgot to say that Calc II was but the entrance to the 9 circles)
		- Introduction to Biology I: Biochemistry, Genetic Bilogy, Molecular Biology (Yup, we'll see about that premed dream)
		- Principles of Economics (I mean, a man's gotta eat, you know)
		-Introduction to classical and quantum waves (yeah, you guessed right, Physics 3 with a fancy name)
		- Latin Music and Identity (Hopefully)
		- Introduction to Psychology
	    </p>
    </body>
    <h1> Disclaimer</h1>
    <body>
	    <p> I only listed the classes that gave me Columbia credit (looking directly at you registrar's office). Even though more should be listed, Columbia's policies be like that, am I right?
	    </p>
    </body>
</html>
