<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Daniel's page'</title>
    </head>
    <h1> Who am I?  Look at the name of the tab ;)</h1>
    <body>
    <p>My name is Daniel Garcia and I have been wanting to create a website for a while since I think it's as (or more) useful as a resume; this is merely the beginning :D'</p>
    <p>This is me on a nice, sunny, quarantine-free, coronavirus-ridden NYC afternoon</p>
<div class = "bd-example" align = "middle">
    <img src = "{{url_for('static', filename='SEASTheFutureShots-21.jpg')}}" style = "width:300px;height:400px;">
</div>
	<p> I am a raising sophomore in SEAS majoring in Biomedical Engineering (Hopefully I'll make it to Med School too, but alas, only God knows what'll happen to us)</p>
	<p> Go check my assignments: <a href="http://127.0.0.1:5000/assignments">Daniel's Assignments</a></p>
	<p> Or go check my class: <a href = "http://127.0.0.1:5000/classes">Daniel's classes </a> </p>
	<p> My grades are fine, thanks for asking :D</p>
    </body>
</html>

